@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700&display=swap");

@import "../../design-system/tokens/colors.css";
@import "../../project.config.css";
@import "../../design-system/components/layout.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen bg-bg font-sans text-foreground antialiased;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-body);
  }
}
